@media (width <= 768px) {
  .price price--mg {
    height: 100vh;
    width: 100vw;
    background-color: #f8f8f8;
    align-items: flex-start;
  }

  .swiper-container-3 {
    width: 320px;
    color: var(--text-color);
    font-size: var(--font-size-small);
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0) 100%
    );
    .swiper-wrapper {
      padding: 16px 0;
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
    .swiper-slide {
      width: 240px;
      flex: 0 0 auto;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
      position: relative;
      font-size: var(--font-size-medium);
      border: 1px solid var(--border-color);
      background-color: white;
      margin: 0;
      padding: 10px;
    }
  }

  .gradient3 {
    height: 25vh;
    width: 80%;
    position: absolute;
    right: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      #f8f8f8
    );
    z-index: 100;
  }

  .service-slider__content {
    flex: 1;
  }

  .services_title_text {
    margin: unset;
    padding: 0 10px;
  }
  .service-slider__title {
    font-family: 'TT Lakes';
    font-size: var(--font-size-medium);
    color: var(--text-color-primary);
    margin: unset;
    gap: 6px;
  }

  .service-slider__text {
    margin: 0;
    font-family: 'TT Lakes';
    color: var(--text-color);
  }

  .service-slider_img {
    width: 119px;
    height: 32px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .btn-order {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: var(--button-color);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
  }
  .conditions {
    margin-top: 20px;
    color: rgba(27, 28, 33, 1);
  }
  .text-image-container {
    display: flex;
    align-items: center;
  }

  .btn-conditions {
    font-family: 'TT Lakes';
    font-size: var(--font-size-medium);
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .offer-icon {
    margin-left: 5px;
  }
}
@media (min-width: 769px) {
  .price-table {
    border-collapse: collapse;
    border: none;
    width: 100vw;
  }

  .service-slider {
    display: none;
  }
  .gradient3 {
    display: none;
  }
}

@media (min-width: 1440px) {
  .price-table {
    width: 100%;
  }
  .service-slider {
    display: none;
  }
}
