@media (width <= 768px) {
  .content-inner-wrapper {
    width: 100vw;
    background-color: #f8f8f8;
    align-items: flex-start;
  }
  .swiper-container-2 {
    width: 320px;
    color: var(--text-color);
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0) 100%
    );
    .swiper-wrapper {
      padding: 16px 0;
      display: flex;
      flex-wrap: nowrap;
      gap: 16px;
    }
    .swiper-slide {
      width: 240px;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
    }
  }

  .gradient2 {
    height: 25vh;
    width: 80%;
    position: absolute;
    right: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      #f8f8f8e7
    );
    z-index: 100;
  }

  .device-type-card {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid var(--border-color);
    text-decoration: none;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
  }

  .device-type-card__text {
    margin: 0;
    color: var(--text-color);
    font-family: 'TT Lakes';
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
  }
  .tablet-image,
  .notebook-image,
  .PK-image,
  .screen-image {
    max-height: 100px;
    object-fit: contain;
    height: 100px;
    width: 143px;
  }
  .go-image {
    bottom: 10px;
    right: 10px;
    align-self: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
@media (min-width: 769px) {
  .content-inner-wrapper {
    width: 100%;
    align-items: flex-start;
    margin-top: 51px;
  }
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 16px 0;
  }

  .swiper-slide {
    flex: 0 0 auto;
    gap: 24px 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }
  .gradient2 {
    display: none;
  }
  .device-type-card {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid var(--border-color);
    text-decoration: none;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
  }

  .device-type-card__text {
    margin: 0;
    color: var(--text-color);
    font-family: 'TT Lakes';
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
  }
  .tablet-image,
  .notebook-image,
  .PK-image,
  .screen-image {
    max-height: 100px;
    object-fit: contain;
    height: 100px;
  }
  .go-image {
    bottom: 10px;
    right: 10px;
    align-self: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  .hidden {
    display: none;
  }
}

@media (min-width: 1440px) {
  .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 30px;
    margin: 20px 0;
    padding: 10px 0;
  }
}
